:root {
  --main-font: "Sulphur Point", sans-serif;
  --written-font: "Allura", cursive;
  --lighter-blue: #6cf9fc;
  --light-blue: #07ebfe;
  --middle-blue: #36d8fd;
  --dark-blue: #0cbffe;
  --light-pink: #fc69f8;
  --middle-pink: #f739c0;
  --dark-pink: #f641d5;
  --purple: #8d3bb6;
  --vice-city-background: #3494e6;
  --vice-city-gradient: linear-gradient(to right, #3494e6, #ec6ead);
  --neon-text-shadow-green: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  --neon-text-shadow-pink: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #fc69f8, 0 0 82px rgb(255, 0, 132), 0 0 92px #fc69f8,
    0 0 102px #fc69f8, 0 0 151px #fc69f8;
  --neon-text-shadow-blue: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #36d8fd, 0 0 82px #36d8fd, 0 0 92px #36d8fd, 0 0 102px #36d8fd,
    0 0 151px #36d8fd;
  --neon-box-shadow-blue: 0 0 1px #fff, 0 0 1.2px #fff, 0 0 2.5px #fff,
    0 0 5px #36d8fd, 0 0 10px #36d8fd, 0 0 11px #36d8fd, 0 0 12px #36d8fd,
    0 0 16px #36d8fd;
  --neon-box-shadow-pink: 0 0 1px #fff, 0 0 1.2px #fff, 0 0 2.5px #fff,
    0 0 5px #fc69f8, 0 0 10px #fc69f8, 0 0 11px #fc69f8, 0 0 12px #fc69f8,
    0 0 16px #fc69f8;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*about*/

.about {
  width: 70%;
  color: white;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/valeriia-neganova-dEvKYQWc3Qw-unsplash.jpg");
  background-size: cover;
  background-repeat: no repeat;
  text-align: center;
  padding: 10px;
}
h1,
h2 {
  font-family: var(--written-font);
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 40px;
  text-shadow: var(--neon-text-shadow-blue);
}
h2 {
  font-size: 40px;
  margin: 30px 0px;
  color: var(--light-pink);
}
.about ul {
  list-style-type: none;
  color: var(--light-blue);
  margin: 0;
  padding: 0;
}

footer {
  padding-left: 60px;
  padding-right: 60px;
}

/*projects*/

.projects {
  color: white;
}
.projects h1 {
  margin: 60px auto;
}
.grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  margin: 0 auto;
}
.projects a {
  text-decoration: none;
}
.projects ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.project-name-django {
  text-align: center;
  text-shadow: var(--neon-text-shadow-pink);
}
.project-description-django {
  color: var(--light-blue);
  text-shadow: var(--neon-text-shadow-blue);
  font-size: 30px;
  text-align: center;
}
.grid-image {
  border: 5px solid var(--dark-blue);
  box-shadow: var(--neon-box-shadow-pink);
}
.blue-text {
  color: var(--light-blue);
}
.learn-more-btn {
  font-size: 25px;
  display: block;
  text-align: center;
  margin: 0px auto;
  font-family: var(--written-font);
  color: var(--light-pink);
}

/*skills*/

.skills {
  color: white;
}
.squares {
  margin: 0px 20px;
}
.squares div {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.yes-box {
  background-color: var(--light-blue);
  box-shadow: var(--neon-box-shadow-blue);
}
.no-box {
  box-shadow: var(--neon-box-shadow-blue);
}
.yes-box-pink {
  background-color: var(--light-pink);
  box-shadow: var(--neon-box-shadow-pink);
}
.no-box-pink {
  box-shadow: var(--neon-box-shadow-pink);
}
.development h2 {
  color: var(--light-blue);
}
.development h2,
.languages h2 {
  font-size: 50px;
  margin-top: 50px;
}
.development,
.languages {
  margin: 0 auto;
  width: 70%;
  font-size: 18px;
  font-style: italic;
}
.development > div,
.languages > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
/*media queries*/
@media (max-width: 768px) {
  .about {
    width: 90%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .development,
  .languages {
    width: 95%;
  }
}
