:root {
  --main-font: "Sulphur Point", sans-serif;
  --written-font: "Allura", cursive;
  --lighter-blue: #6cf9fc;
  --light-blue: #07ebfe;
  --middle-blue: #36d8fd;
  --dark-blue: #0cbffe;
  --light-pink: #fc69f8;
  --middle-pink: #f739c0;
  --dark-pink: #f641d5;
  --purple: #8d3bb6;
  --vice-city-background: #3494e6;
  --vice-city-gradient: linear-gradient(to right, #3494e6, #ec6ead);
  --neon-text-shadow-green: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  --neon-text-shadow-pink: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #fc69f8, 0 0 82px rgb(255, 0, 132), 0 0 92px #fc69f8,
    0 0 102px #fc69f8, 0 0 151px #fc69f8;
  --neon-text-shadow-blue: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #36d8fd, 0 0 82px #36d8fd, 0 0 92px #36d8fd, 0 0 102px #36d8fd,
    0 0 151px #36d8fd;
  --neon-box-shadow-blue: 0 0 1px #fff, 0 0 1.2px #fff, 0 0 2.5px #fff,
    0 0 5px #36d8fd, 0 0 10px #36d8fd, 0 0 11px #36d8fd, 0 0 12px #36d8fd,
    0 0 16px #36d8fd;
  --neon-box-shadow-pink: 0 0 1px #fff, 0 0 1.2px #fff, 0 0 2.5px #fff,
    0 0 5px #fc69f8, 0 0 10px #fc69f8, 0 0 11px #fc69f8, 0 0 12px #fc69f8,
    0 0 16px #fc69f8;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  color: white;
}

.about {
  width: 70%;
  color: white;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/valeriia-neganova-dEvKYQWc3Qw-unsplash.jpg");
  background-size: cover;
  background-repeat: no repeat;
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: var(--written-font);
  text-align: center;
  font-size: 10em;
  margin-top: 40px;
  text-shadow: var(--neon-text-shadow-pink);
  margin-bottom: 60px;
}

.location,
.social-icons,
.send-message {
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  letter-spacing: 4px;
}
.contact span,
.contact .send-message {
  font-family: var(--written-font);
  color: var(--light-pink);
  font-size: 50px;
}
.contact a {
  text-decoration: none;
  color: var(--light-blue);
}
.form-container {
  padding: 50px;
  border: 1px solid var(--light-blue);
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/valeriia-neganova-dEvKYQWc3Qw-unsplash.jpg");
  background-size: cover;
  background-repeat: no repeat;
  text-align: center;
  margin-bottom: 40px;
}
#contact-form {
  padding: 50px;
  border: 1px solid var(--light-blue);
}
#contact-form input,
#contact-form textarea {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-pink);
  margin: 20px;
}
#contact-form textarea {
  width: 80%;
}
#contact-form label {
  font-family: var(--written-font);
  font-size: 30px;
}
#submit-button {
  font-size: 40px;
  padding: 20px;
  margin: 20px;
  font-family: var(--written-font);
  letter-spacing: 10px;
  color: white;
  background-color: black;
  box-shadow: var(--neon-box-shadow-pink);
}
#submit-button:hover {
  color: var(--dark-pink);
}

/*media queries*/
@media (max-width: 768px) {
  .form-container {
    padding: 5px;
    width: 90%;
  }
  #contact-form {
    padding: 20px 0;
  }
  #contact-form input,
  #contact-form textarea {
    width: 90%;
    margin: 20px 0;
  }
}
