:root {
  --main-font: "Sulphur Point", sans-serif;
  --written-font: "Allura", cursive;
}

/*general*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
body {
  width: 100%;
  height: fit-content;
}

/* Menu */

.navbar-collapse {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0;
}

.navbar-nav {
  text-align: center;
}
.navbar li {
  padding: 20px 30px;
}
.navbar-brand {
  padding: 20px 12px;
  font-family: var(--written-font);
}

/* Home page */

.main {
  margin: 40px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 1;
  align-items: center;
}
.homepage-paragraph {
  text-align: center;
  margin: 0 auto;
  width: ;
}
.homepage-paragraph > h4 {
  font-family: var(--written-font);
}
.on-side-info {
  margin: 0 30px;
}
.bubbles {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.get-to-know-me {
  font-family: var(--written-font);
}
.click-on-bubble {
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
  width: 110px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.click-on-bubble a {
  text-decoration: none;
}
.bubble-1 {
  position: absolute;
}
.bubble-2 {
  position: absolute;
  right: 6px;
  top: 50px;
}

.bubble-3 {
  position: absolute;
  left: 10px;
  top: 50px;
}
.bubble-4 {
  position: absolute;
  top: 130px;
}
/*footer*/

footer {
  padding: 30px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 1;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer .social-media a {
  padding: 25px;
}
