:root {
  --main-font: "Sulphur Point", sans-serif;
  --written-font: "Allura", cursive;
}

/*general*/

body {
  font-family: var(--main-font);
}

/* Menu */
.navbar {
  padding: 0px 30px;
}
.navbar-collapse {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0;
}

.navbar-nav {
  text-align: center;
}
.navbar li {
  padding: 20px 30px;
}
.navbar-brand {
  padding: 20px 12px;
  font-family: var(--written-font);
  font-size: 30px;
}

/* only big screen */

#side-info {
  margin: 0 30px 20px 30px;
  background-color: aqua;
  padding: 20px;
}
.my-photo img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}
.my-info {
  text-align: center;
  margin-top: 30px;
}
#side-info h4 {
  margin: 30px;
}
#side-info a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}
/* Home page */

.profile-photo img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 1;
  height: 300%;
  background-color: burlywood;
  padding-top: 30px;
}

.homepage {
  text-align: center;
  margin: 0 auto;
}
.homepage > h1 {
  font-size: 40px;
}
.homepage > h2 {
  margin: 10px;
  font-size: 26px;
}
.homepage > h4 {
  font-family: var(--written-font);
  font-size: 40px;
  padding-top: 20px;
}

.get-to-know-me {
  font-family: var(--written-font);
  font-size: 30px;
  margin: 30px 0px 70px 0px;
}

.click-on-bubble {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
  width: 130px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 20px;
}
.second-row-bubbles {
  display: flex;
}
/*footer*/

footer {
  padding: 30px;
  width: 100%;
  bottom: 0px;
  position: relative;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 1;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer .social-media a {
  padding: 25px;
}

/*media queries*/

@media (min-width: 768px) {
  .col-md-8 {
    flex: unset;
  }
}
@media (max-width: 768px) {
  .homepage > h1 {
    font-size: 40px;
    margin-top: 25px;
  }

  .homepage > h4 {
    font-family: var(--written-font);
    font-size: 40px;
    padding-top: 20px;
  }

  .get-to-know-me {
    font-family: var(--written-font);
    font-size: 40px;
    margin: 30px 0px 70px 0px;
  }
  .click-on-bubble {
    font-size: 30px;
  }
}
